{% extends "base.html" %}
{% block title %}
Home - {{ super() }}
{% endblock %}
{% block content %}
<script type="text/javascript">
$(function(){
    $('.sort-table').tablesorter();
});

function send_limit() {
    document.limitform.submit()
}
</script>
<div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-primary text-center" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-1">
            <form action="/home/{{id}}" name="limitform" method="get">
                <input type="text" id="limit" name="limit" style="width: 36px;" onchange="send_limit()">
            </form>
        </div>
        <div class="col-3 text-left">
            <p id="hit">number of hit: {{ len_issues }} / {{ limit }}</p>
        </div>
        <div class="col-8 text-right">
            <form action="/update/prev_prog/{{id}}" name="prev_prog_limit_form" method="get">
                <input type="text" id="prev_prog_limit" name="prev_prog_limit" style="width: 36px;" onchange="send_prev_prog_limit()">
                <button type="submit" class="btn btn-secondary btn-sm update-btn" onclick="return confirm('前回進捗率を更新しますか？')">update prev prog rate</button>
            </form>
        </div>
    </div>
    <table id="prog-table" class="table table-hover table-sm sort-table">
        <caption>Progress Management Board of JIRA Issues</caption>
        <thead class="p-head">
            <tr>
                <th scope="col">Key No</th>
                <th scope="col">Summary</th>
                <th scope="col">Prev Prog Rate</th>
                <th scope="col">Prog Rate</th>
                <th scope="col">Status</th>
                <th scope="col">priority</th>
                <th scope="col">duedate</th>
                <th scope="col">Story Point</th>
                <th scope="col">Assignee</th>
                <th scope="col">Last Cmt</th>
                <th scope="col">Cmt Updated</th>
                <th scope="col">Prev Updated</th>
                <th scope="col">Issue Updated</th>
            </tr>
        </thead>
        <tbody>
        <!-- if文追加 -->
        {%- if issues -%}
        {%- for issue in issues -%}
            <tr>
                <td style="font-weight: 900;">
                    <a href="{{ issue.url }}" target="_blank" rel="noopener noreferrer">
                        {{ issue.key }}
                    </a>
                </td>
                <td>{{ issue.summary }}</td>
                <td>
                    {%- for base_issue in base_issues -%}
                        {%- if issue.key == base_issue.value['key'] -%}
                            {{ base_issue.value['prev_progress'] }}
                        {%- endif -%}
                    {%- endfor -%}
                </td>
                <td>{{ issue.version }}</td>
                <td>{{ issue.status }}</td>
                <td>{{ issue.priority }}</td>
                <td>{{ issue.duedate }}</td>
                <td>{{ issue.story_point }}</td>
                <td>{{ issue.assignee }}</td>
                <td>{{ issue.comment }}</td>
                <td>{{ issue.comment_updated }}</td>
                <td>
                    {%- for base_issue in base_issues -%}
                        {%- if issue.key == base_issue.value['key'] -%}
                            {{ base_issue.value['prev_updated'] }}
                        {%- endif -%}
                    {%- endfor -%}
                </td>
                <td>{{ issue.updated }}</td>
            </tr>
        {%- endfor -%}
        {%- endif -%}
        </tbody>
    </table>
    <h1>Story Point</h1>
    <div class="row">
        <div class="col-3">
            <table id="story-point" class="table table-hover table-sm sort-table">
                <thead class="p-head">
                    <tr>
                        <th scope="col">Assignee</th>
                        <th scope="col">Story Point</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- if文追加 -->
                    {%- if agn_story_point -%}
                    {%- for assignee, story_point in agn_story_point.items() -%}
                    <tr>
                        <td>{{ assignee }}</td>
                        <td>{{ story_point }}</td>
                    </tr>
                    {%- endfor -%}
                    {%- endif -%}
                </tbody>
            </table>
        </div>
        <div class="col-2">
            <ul id="story-point">
                <li id="story-point">1: 非常に簡単</li>
                <li id="story-point">2: 1日程度で終わる</li>
                <li id="story-point">3: 2, 3日で終わる</li>
                <li id="story-point">5: 1Wksくらいで終わる</li>
                <li id="story-point">8: 2Wksくらいで終わる</li>
                <li id="story-point">13: 2Wksでは終わらない</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}